.container-detail {
  padding: 70px 65px;
}
.header-issues{
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}
.header-issues small a{
  font-size: 16px;
  margin-left: 10px;
}