.container-list {
  padding: 70px 65px;
}
.table-white{
  background-color: #fff;
}
.header-list{
  display: flex;
  margin-bottom: 40px;
  width: 100%;
}
.list .header-section h1 {
  margin: 0;
}
.hidden{
  opacity:0;
}